@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_styles/FormStyles.scss';
@import './_styles/MediaQueries.scss';
@import './_styles/Loader.scss';
@import './_styles/MiniLoader.scss';
@import './_styles/Projects.scss';
@import './_styles/Tasks.scss';
@import './_styles/TaskDetail.scss';
@import './_styles/ProjectDetail.scss';
@import './_styles/Utils.scss';
@import './_styles/SkeletonPage.scss';
@import './_styles/PagesStyling.scss';
@import './_styles/Calendar.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    // --main-font: 'Inter', sans-serif;
    // --second-font: 'Poppins', sans-serif;
    
    --text-size-1: 48px;
    --text-size-2: 40px;
    --text-size-3: 32px;
    --text-size-3-5: 28px;
    --text-size-4: 24px;
    --text-size-4-5: 22px;
    --text-size-5: 18px;
    --text-size-6: 16px;
    --text-size-7: 14px;
    --text-size-8: 12px;

    color-scheme: light dark;

    --main-color: #088f8f;
    --secund-color: #004c4c;
    --white: #ffffff;
    --off-white: #fffffff5;
    --card-bg: #f0f0f0;
    --text-color: #000000;
    --card-color: #ddd8d8;
}
html{
    scroll-behavior:smooth;
}
body{
    background: var(--off-white);
    /* font-family: var(--main-font); */
    overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {

    :root {
        --main-color: #088f8f;
        --secund-color: #004c4c;
        --white: #ffffff;
        --card-bg: #f0f0f0;
        --text-color: #000000;
        --gray: #ddd8d8;
        --off-white: #efefef;
        --card-color: #efefef;
    }

    body{
        background-color: var(--text-color);
        color: var(--off-white)
    }

        h4, h5, h3, h2{
            color: var(--off-white);
        }
    
        .heading-2, .heading-3{
            color: var(--main-color);
        }

    .nav{
        .nav-box{
            background-color: var(--text-color);
        }

        a{
            color: var(--off-white) !important;
        }
    }

}

/* Utilitie styling  */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}


h1{
    font-size: var(--text-size-2);
}
h2{
    font-size: var(--text-size-3);
}

h3{
    font-size: var(--text-size-4);
    
}
h4{
    font-size: var(--text-size-4);
}

p{
    font-size: var(--text-size-5);
}

//Buttons
.btn-3{
    color: var(--main-color);
    font-size: var(--text-size-4-5);
    text-decoration: underline;
}

.btn-fixed{
    position: fixed;
    right: 2rem;
    top: 6rem;
    z-index: 150;
}

.container {
    width: 90%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}


/* Background Gradients */

.bg-box{
    width: 100%;
    height: 700px;
    background: linear-gradient(#f2f2f2, #79B28D);
    position: absolute;
    left: 0;
    z-index: -5;
}

//Nav

.nav{
  width: 100%;
  max-width: 1980px;
  height: 80px;
  padding: 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position:sticky;
  top: 0;
  z-index: 180;

  .hidden{
    display: none;
  }
}


.branding, 
ul li a{
    z-index: 250;
}

.branding{
  padding-top: 15px;
  color: var(--main-color);
}

.list {
    width: 70%;
    max-width: 1000px;
    height: 100%;
}
ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
li a{
    color: var(--text-color);
    font-size: var(--text-size-6);
    margin: 0 5px;
    padding: 5px 10px;
}

li .active{
    color: var(--white) !important;
    background-color: var(--main-color);
    border-radius: 3px;
}
      

  
  .menuI{
      position: absolute;
      top: 0.9rem;
      right: 5%;
      color: var(--main-color);
      cursor: pointer;
      display: none;
  }

  .nav-box{
      position: absolute;
      top: 0;
      left: 0;
      height: 85px;
      width: 100%;
      background-color: var(--off-white);
      z-index: -5;
      opacity: 0.98;
  }


